<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.jjm.testcases.LoginTest" />
			<class name="com.jjm.testcases.GetWorkTypestest" />
			<class name="com.jjm.testcases.GetVillagesTest" />
			<class name="com.jjm.testcases.GetTotalWorksTest" />
			<class name="com.jjm.testcases.SubmitWorkDetailsTest" />
			<class name="com.jjm.testcases.ViewWorkDetailsTest" />
			<class name="com.jjm.testcases.GetWorkProgressDetailsTest" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
